services:
  - type: web
    name: angular-node-monorepo
    env: docker
    dockerContext: .
    plan: free
    region: frankfurt
    dockerfilePath: ./Dockerfile
    envVars:
      - key: NODE_ENV
        value: production